@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #191f28;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.logo {
    cursor: pointer;
}

.menu .lista {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 40px;
    font-size: 16px;
    line-height: 24px;
}


.menu .lista a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: 2ms ease-in;
    position: relative;
    font-weight: bold;
}

.menu .lista a:hover {
    color: rgba(224, 224, 219, 0.918);
    transition: 2ms ease-in;
}


.menu .lista a:before {
    content: ' ';
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: wheat;
    transition: all 1s ease;
}

.menu .lista a:hover:before {
    width: 100%;
    background-color: rgba(224, 224, 219, 0.918);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #e0e0db;
    height: 450px;
}

div.apresentacao {
    overflow-wrap: break-word;
    margin-left: 5%;
    margin-top: 30px;
}

.titulo {
    font-family: "Manrope", sans-serif;
    font-size: 63px;
    line-height: 67px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.subtitulo {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 70px;
    width: 800px;
    text-align: center;
}

.subscription-container {
    height: 750px;
    padding-top: 5%;
}

div.imagens-cards {
    display: flex;
    justify-content: space-around;
    margin-left: 3%;
    margin-right: 40px;
    margin-top: 3%;
}

.imagens-cards img {
    width: 345px;
    height: 250px;
}

.cards-planos {
    display: flex;
    justify-content: space-around;
    margin-left: 3%;
    margin-right: 40px;
    margin-top: 3%;
}

.cards-titulo {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
}

.cards-preco {
    margin-top: 15px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 35px;
    line-height: 31px;
    margin-bottom: 22px;
}

.cards-preco span {
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    color: gray;
}

.cards-descricao {
    width: 345px;
    overflow-wrap: break-word;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
}

.saibamais-card a {
    font-family: "Nunito Sans", sans-serif;
    background-color: #253551;
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.cards-beneficios {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    margin-top: 22px;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #253551;
    height: 750px;
    color: white;
}

.about-info h1 {
    font-family: "Manrope", sans-serif;
    font-size: 63px;
    line-height: 67px;
    width: 395px;
    font-weight: 500;
}

.about-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    line-height: 33px;
    width: 599px;
}

.about-text a {
    color: white;
}

.about-text a:hover {
    color: rgba(224, 224, 219, 0.918);
}

footer {
    background-color: #e0e0db;
    height: 300px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

footer p {
    font-weight: bold;
}

form label {
    font-size: 16px;
}

.footer-explore li, .footer-social li{
    list-style: none;
    padding-top: 15px;
    margin-top: 10px;
}

.footer-explore a, .footer-social a{
    color: #253551;
}

.footer-explore, .footer-social {
    margin-right: 50px;
    width: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 5%;
    padding-top: 3%;
}

.footer-form {
    font-family: "Manrope", sans-serif;
    font-size: 44px;
    width: 497px;
    font-weight: 500;
}

.footer-form form {
    display: flex;
    flex-direction: column;
}

.footer-form label {
    margin-bottom: 20px;
    width: 391px;
}

.footer-form input {
    margin-bottom: 20px;
    padding: 22px 32px;
    width: 391px;
    border: none;
    border-radius: 0;
    background-color: white;
}

.enviar-form-footer {
    font-family: "Nunito Sans", sans-serif;
    background-color: #253551;
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: none;
    width: 50%;
    margin-top: 15px;
}
